# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Temporary file
*demo*
*temp*
prisma
log/
doc/
demo.ts
example/

# IDE config
.vscode

# Logs
logs
*.log
.pnpm-debug.log*

# Test
coverage

# Dependency directories
node_modules/

# Environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build
dist
